.btn-search {
  @apply w-[277px] h-9 rounded-md bg-white border border-gray-400;
}
.input-btn-serach {
  @apply absolute w-full h-full top-0 left-0 outline-none border-gray-400 rounded-md text-right pr-8 placeholder:text-gray-400 placeholder:text-opacity-40 placeholder:text-[10px];
}

/* table columns style */
.mat-column-id {
  @apply text-right;
}
.mat-column-fullName {
  @apply text-right;
}
.mat-column-email {
  @apply text-right;
}
.mat-column-workDays {
  @apply text-right;
}
.mat-column-fileName {
  @apply text-right;
}

/* table style */
.mat-mdc-table .mat-mdc-header-cell {
  @apply p-0;
}
/* table workDays style */
.dayActive {
  @apply bg-[#2385EA] text-white;
}
.dayInactive {
  @apply bg-[#F7F7FA] text-[#BBBEC2];
}
/* table menu style */
::ng-deep .mat-mdc-menu-content {
  padding-bottom: 0 !important;
}
/* table paginator style */
::ng-deep .mat-mdc-paginator-container {
  justify-content: space-between !important;
  flex-wrap: nowrap !important;
}
::ng-deep .mat-mdc-paginator-page-size-label {
  width: 100px !important;
}
::ng-deep .mat-mdc-paginator-range-label {
  width: 60px !important;
}

/* responsive table actions */
.table-actions-container-lg {
  @apply flex justify-between items-center;
}
.table-actions-container-md {
  @apply flex justify-between items-center;
}
.table-actions-container-sm {
  @apply flex flex-col gap-2;
}

.table-actions-lg {
  @apply flex justify-between items-center gap-2;
}
.table-actions-md {
  @apply flex justify-between items-center gap-2;
}
.table-actions-sm {
  @apply flex flex-col gap-2;
}
/* responsive table buttons */
.table-btn-addNew-lg {
  @apply bg-[#FEEE00] text-xs font-bold w-[108px] h-[36px] rounded-md;
}
.table-btn-addNew-md {
  @apply bg-[#FEEE00] text-xs font-bold w-[108px] h-[36px] rounded-md;
}
.table-btn-addNew-sm {
  @apply bg-[#FEEE00] text-xs font-bold w-full h-[36px] rounded-md;
}

.table-btn-sorting-lg {
  @apply w-9 h-9 rounded-md bg-white border border-gray-400 flex justify-center items-center;
}
.table-btn-sorting-md {
  @apply w-9 h-9 rounded-md bg-white border border-gray-400 flex justify-center items-center;
}
.table-btn-sorting-sm {
  @apply w-full h-9 rounded-md bg-white border border-gray-400 flex justify-center items-center;
}

.table-btn-settings-lg {
  @apply w-9 h-9 rounded-md bg-white border border-gray-400 flex justify-center items-center;
}
.table-btn-settings-md {
  @apply w-9 h-9 rounded-md bg-white border border-gray-400 flex justify-center items-center;
}
.table-btn-settings-sm {
  @apply w-full h-9 rounded-md bg-white border border-gray-400 flex justify-center items-center;
}

.table-btn-search-lg {
  @apply relative w-[277px] h-9 rounded-md bg-white border border-gray-400;
}
.table-btn-search-md {
  @apply relative w-[277px] h-9 rounded-md bg-white border border-gray-400;
}
.table-btn-search-sm {
  @apply relative w-full h-9 rounded-md bg-white border border-gray-400;
}
